/*------------------------------------------------------------------
[Main Stylesheet]

Author      :	WREP
Version     :	1.0
Created     :	5 Agustus 2018
Template    :	Go-Shopping
-------------------------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    background: #f6f6f6;
}

/*---------- HEADER ----------*/
.navbar{
    background: #3498db;
}
.navbar .navbar-brand{
    color: #fff;
}
.navbar .navbar-nav .nav-link{
    color: #fff;
}

/*---------- BANNER ----------*/
.section-banner{
    padding: 100px 0 50px;
}

/*---------- PRODUK ----------*/
.section-produk{
    padding: 75px 0;
}
.section-produk h4{
    text-align: center;
    padding: 15px 0;
    font-size: 3em;
    text-transform: uppercase;
}
.section-produk .search{
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
    text-transform: uppercase;
}
.section-produk .card{
    height: 100%;
}
.section-produk-terbaru{
    margin: 5px 0 25px;
}
.section-produk-terbaru .card{
    height: 100%;
}
.section-produk-terbaru .card h5{
    color: #000;
    font-size: 1em;
}
.section-produk-post{
    margin: 100px 0;
}
.section-support{
    margin: 15px 0;
}
.section-support .card{
    padding: 20px;    
}

/*---------- PROFIL ----------*/
.section-profil{
    margin: 100px 0;
    min-height: 65vh;
}

/*---------- KERANJANG ----------*/
.section-keranjang{
    margin: 100px 0;
    min-height: 65vh;
}

/*---------- PEMBAYARAN ----------*/
.section-pembayaran{
    margin: 100px 0;
    min-height: 65vh;
}

/*---------- FOOTER ----------*/
.footer .bg-primary{
    padding: 0;
    height: auto;
}
.footer p{
    margin-bottom: 0;
}